<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static "portfolio/img/Logo.png" %}">
    <title>About - Vernit Jain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Template CSS Files -->
    <link href="{% static 'portfolio/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/preloader.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/circle.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/fm.revealator.jquery.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">

    <!-- CSS Skin File -->
    <link href="{% static 'portfolio/css/skins/yellow.css' %}" rel="stylesheet">

    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{% static 'portfolio/css/skins/blue.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="{% static 'portfolio/css/skins/green.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="yellow" href="{% static 'portfolio/css/skins/yellow.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="blueviolet" href="{% static 'portfolio/css/skins/blueviolet.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="{% static 'portfolio/css/skins/goldenrod.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="{% static 'portfolio/css/skins/magenta.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="orange" href="{% static 'portfolio/css/skins/orange.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="purple" href="{% static 'portfolio/css/skins/purple.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="{% static 'portfolio/css/skins/red.css' %}" />
    <link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="{% static 'portfolio/css/skins/yellowgreen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/styleswitcher.css' %}" />

    <!-- Modernizr JS File -->
    <script src="{% static 'portfolio/js/modernizr.custom.js' %}"></script>
</head>

<body class="about">
<!-- Live Style Switcher Starts - demo only -->
<div id="switcher" class="">
    <div class="content-switcher">
        <h4>STYLE SWITCHER</h4>
        <ul>
            <li>
                <a href="#" onclick="setActiveStyleSheet('purple');" title="purple" class="color"><img src="{% static 'portfolio/img/styleswitcher/purple.png' %}" alt="purple"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('red');" title="red" class="color"><img src="{% static 'portfolio/img/styleswitcher/red.png' %}" alt="red"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('blueviolet');" title="blueviolet" class="color"><img src="{% static 'portfolio/img/styleswitcher/blueviolet.png' %}" alt="blueviolet"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('blue');" title="blue" class="color"><img src="{% static 'portfolio/img/styleswitcher/blue.png' %}" alt="blue"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('goldenrod');" title="goldenrod" class="color"><img src="{% static 'portfolio/img/styleswitcher/goldenrod.png' %}" alt="goldenrod"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('magenta');" title="magenta" class="color"><img src="{% static 'portfolio/img/styleswitcher/magenta.png' %}" alt="magenta"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('yellowgreen');" title="yellowgreen" class="color"><img src="{% static 'portfolio/img/styleswitcher/yellowgreen.png' %}" alt="yellowgreen"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('orange');" title="orange" class="color"><img src="{% static 'portfolio/img/styleswitcher/orange.png' %}" alt="orange"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('green');" title="green" class="color"><img src="{% static 'portfolio/img/styleswitcher/green.png' %}" alt="green"/></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('yellow');" title="yellow" class="color"><img src="{% static 'portfolio/img/styleswitcher/yellow.png' %}" alt="yellow"/></a>
            </li>
        </ul>
        <div id="hideSwitcher">&times;</div>
    </div>
</div>
<!-- <div id="showSwitcher" class="styleSecondColor"><i class="fa fa-cog fa-spin"></i></div> -->
<!-- Live Style Switcher Ends - demo only -->
<!-- Header Starts -->
<header class="header" id="navbar-collapse-toggle">
    <!-- Fixed Navigation Starts -->
    <ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1">
      <li class="icon-box">
          <i class="fa fa-home"></i>
          <a href="{% url 'aboutme' %}">
              <h2>Home</h2>
          </a>
      </li>
      <li class="icon-box active">
          <i class="fa fa-user"></i>
          <a href="{% url 'moreabout' %}">
              <h2>About</h2>
          </a>
      </li>
      <li class="icon-box">
          <i class="fa fa-key"></i>
          <a href="{% url 'moreabout' %}#skills">
              <h2>Skills</h2>
          </a>
      </li>
      <li class="icon-box">
          <i class="fa fa-envelope-open"></i>
          <a href="{% url 'contactme' %}">
              <h2>Contact</h2>
          </a>
      </li>
      <li class="icon-box">
          <i class="fa fa-tasks"></i>
          <a href="{% url 'moreabout' %}#projects">
              <h2>Projects</h2>
          </a>
      </li>
      <li class="icon-box">
          <i class="fa fa-comments"></i>
          <a href="{% url 'blog:all_blogs' %}">
              <h2>Blog</h2>
          </a>
      </li>
    </ul>
    <!-- Fixed Navigation Ends -->
    <!-- Mobile Menu Starts -->
    <nav role="navigation" class="d-block d-lg-none">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="list-unstyled" id="menu">
              <li><a href="{% url 'aboutme' %}"><i class="fa fa-home"></i><span>Home</span></a></li>
              <li class="active"><a href="{% url 'moreabout' %}"><i class="fa fa-user"></i><span>About</span></a></li>
              <li><a href="{% url 'moreabout' %}#skills"><i class="fa fa-key"></i><span>Skills</span></a></li>
              <li><a href="{% url 'contactme' %}"><i class="fa fa-envelope-open"></i><span>Contact</span></a></li>
              <li><a href="{% url 'moreabout' %}#projects"><i class="fa fa-tasks"></i><span>Projects</span></a></li>
              <li><a href="{% url 'blog:all_blogs' %}"><i class="fa fa-comments"></i><span>Blog</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Menu Ends -->
</header>
<!-- Header Ends -->
<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>ABOUT <span>ME</span></h1>
    <span class="title-bg">Resume</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
{% for about in abouts %}
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Personal Info Starts -->
            <div class="col-12 col-lg-5 col-xl-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase custom-title mb-0 ft-wt-600">personal infos</h3>
                    </div>
                    <div class="col-12 d-block d-sm-none">
                        <img src="{% static 'portfolio/img/VernitPorfolioAboutBB1.png' %}" class="img-fluid main-img-mobile" alt="my picture" />
                    </div>

                    <div class="col-6">
                        <ul class="about-list list-unstyled open-sans-font">
                            {% if about.firstName %}
                            <li>
                              <span class="title">first name :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.firstName }}</span>
                            </li>
                            {% endif %}

                            {% if about.lastName %}
                            <li>
                              <span class="title">last name :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.lastName }}</span>
                            </li>
                            {% endif %}

                            {% if about.age %}
                            <li>
                              <span class="title">Age :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.age }}</span>
                            </li>
                            {% endif %}

                            {% if about.country %}
                            <li>
                              <span class="title">Country Code :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.country }}</span>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                    <div class="col-6">
                        <ul class="about-list list-unstyled open-sans-font">
                          {% if about.address %}
                            <li>
                              <span class="title">Address :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.address }}</span>
                            </li>
                            {% endif %}

                            {% if about.mobile %}
                            <li>
                              <span class="title">Mobile :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.mobile }}</span>
                            </li>
                            {% endif %}

                            {% if about.email %}
                            <li>
                              <span class="title">Email :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.email }}</span>
                            </li>
                            {% endif %}
                            {% if about.languages %}
                            <li>
                              <span class="title">languages :</span>
                              <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">{{ about.languages }}</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-12 mt-3">
                        <a href="{% static 'portfolio/file/VernitJainResume.pdf' %}" class="btn btn-download", target="_blank">Download CV</a>
                    </div>
                </div>
            </div>
            <!-- Personal Info Ends -->
            <!-- Boxes Starts -->
            <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
                <div class="row">
                  {% if about.yearOfExperience %}
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="poppins-font position-relative">{{ about.yearOfExperience }}</h3>
                            <p class="open-sans-font m-0 position-relative text-uppercase">years of <span class="d-block">experience</span></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if about.completedProject %}
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="poppins-font position-relative">{{ about.completedProject }}</h3>
                            <p class="open-sans-font m-0 position-relative text-uppercase">completed <span class="d-block">projects</span></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if about.users %}
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="poppins-font position-relative">{{ about.users }}</h3>
                            <p class="open-sans-font m-0 position-relative text-uppercase">Users using<span class="d-block">my site</span></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if about.awardsWon %}
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="poppins-font position-relative">{{ about.awardsWon }}</h3>
                            <p class="open-sans-font m-0 position-relative text-uppercase">awards <span class="d-block">won</span></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Boxes Ends -->
        </div>
        <hr class="separator">
        <!-- Skills Starts -->
        <div class="row" id="skills">
            <div class="col-12">
                <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">My Skills</h3>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p90">
                    <span>90%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">Python Basics</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p80">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">Django</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p45">
                    <span>45%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">react</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p80">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">java</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p75">
                    <span>75%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">html</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p50">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">javascript</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p50">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">css</h6>
            </div>
            <div class="col-6 col-md-3 mb-3 mb-sm-5">
                <div class="c100 p50">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">jquery</h6>
            </div>
        </div>
        <!-- Skills Ends -->
        <hr class="separator mt-1">
        <!-- Project starts -->
        <div class="row" id="projects" style="border:10px">
            <div class="col-12">
                <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">My Projects</h3>
            </div>
            {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-30 blog">
              <article class="post-container">
                <div class="post-thumb">
                  {% if project.url %}
                    <a href="{{ project.url }}" class="d-block position-relative overflow-hidden">
                      <img src="{{ project.images.url }}" class="img-fluid" alt="project image">
                    </a>
                  {% else %}
                  <a class="d-block position-relative overflow-hidden">
                    <img src="{{ project.images.url }}" class="img-fluid mb-2">
                  </a>
                  {% endif %}
                </div>
                <div class="post-content">
                  <div class="entry-header">
                    {% if project.title %}
                    <h3><a href="">{{ project.title }}</a></h3>
                    {% endif %}
                  </div>
                  <div class="entry-content open-sans-font">
                    <p>{{ project.description|striptags|truncatechars:100 }}</p>
                  </div>
                </div>
              </article>
                </div>
              {% endfor %}
        </div>
        <!-- Project end -->
        {% if certificate %}
        <hr class="separator mt-1">
        <!-- Certificate start -->
        <div class="row" id="certificates" style="border:10px">
            <div class="col-12">
                <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">My Certificates</h3>
            </div>
            {% for cert in certificate %}
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-30 blog">
              <article class="post-container">
                <div class="post-thumb">
                  {% if cert.file %}
                  <a target="_blank" href="{{ cert.file }}"class="d-block position-relative overflow-hidden">
                    <img src="{{ cert.file }}" class="img-fluid" alt="certificate image">
                  </a>
                  {% endif %}
                </div>
                <div class="post-content">
                  <div class="entry-header">
                    {% if cert.name %}
                    <h3><a href="">{{ cert.name }}</a></h3>
                    {% endif %}
                    {% if cert.issuedby %}
                    <h6>{{ cert.issuedby }}</h6>
                    {% endif %}
                    {% if cert.issuedDate %}
                    <span class="date"><i class="fa fa-calendar"></i> {{cert.issuedDate}}</span>
                    <!-- <span class="date"><i class="fa fa-calendar"></i> {{cert.issuedDate|date:'F jS Y'}}</span> -->
                    {% endif %}
                  </div>
                </div>
              </article>
                </div>
              {% endfor %}
        </div>
        {% endif %}

        <!-- Certificate End -->
          <hr class="separator mt-1">

        <!-- Experience & Education Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">Experience <span>&</span> Education</h3>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                      <li>
                          <div class="icon">
                              <i class="fa fa-briefcase"></i>
                          </div>
                          <span class="time open-sans-font text-uppercase">Mar 2019 - Present</span>
                          <h5 class="poppins-font text-uppercase">Full stack developer<span class="place open-sans-font">TCS</span></h5>
                          <p class="open-sans-font">Got promoted as a full stack developer in Python</p>
                      </li>
                      <li>
                          <div class="icon">
                              <i class="fa fa-briefcase"></i>
                          </div>
                          <span class="time open-sans-font text-uppercase">Jan 2018 - Mar 2019</span>
                          <h5 class="poppins-font text-uppercase">Backend Developer<span class="place open-sans-font">TCS</span></h5>
                          <p class="open-sans-font">Got promoted as Backend Developer in Python and Java</p>
                      </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">July 2017 - Dec 2017</span>
                            <h5 class="poppins-font text-uppercase">Trainee<span class="place open-sans-font">TCS</span></h5>
                            <p class="open-sans-font">Got training in TCS in Python, Java, AI</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">2020</span>
                            <h5 class="poppins-font text-uppercase">Master Degree <span class="place open-sans-font">Sastra University</span></h5>
                            <!-- <p class="open-sans-font">Completed MCA</p> -->
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">2017</span>
                            <h5 class="poppins-font text-uppercase">Bahelor Degree <span class="place open-sans-font">IIMT</span></h5>
                            <!-- <p class="open-sans-font">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut adipisicing</p> -->
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <span class="time open-sans-font text-uppercase">2012</span>
                            <h5 class="poppins-font text-uppercase">Intermediate Degree <span class="place open-sans-font">Golden Heart Academy</span></h5>
                            <!-- <p class="open-sans-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore</p> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Experience & Education Ends -->
    </div>
</section>
{% endfor %}
<!-- Main Content Ends -->

<!-- Template JS Files -->
<script src="{% static 'portfolio/js/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'portfolio/js/styleswitcher.js' %}"></script>
<script src="{% static 'portfolio/js/preloader.min.js' %}"></script>
<script src="{% static 'portfolio/js/fm.revealator.jquery.min.js' %}"></script>
<script src="{% static 'portfolio/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'portfolio/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'portfolio/js/classie.js' %}"></script>
<script src="{% static 'portfolio/js/cbpGridGallery.js' %}"></script>
<script src="{% static 'portfolio/js/jquery.hoverdir.js' %}"></script>
<script src="{% static 'portfolio/js/popper.min.js' %}"></script>
<script src="{% static 'portfolio/js/bootstrap.js' %}"></script>
<script src="{% static 'portfolio/js/custom.js' %}"></script>

</body>

</html>
