<!-- Error Page Area -->
    <div class="onbita-error-page-area bg-img" style="background-image: url(img/all-img/31.png);">
        <!-- Error Content -->
        <div class="error-content">
            <!-- Error Thumb -->
            <div class="erro-thumb">
                <img class="welcome-thumb" src="img/all-img/34.png" alt="">
            </div>
            <h2>Sorry! Page Was Not Found.</h2>
            <p class="mb-0">The page you are looking is not available or has been removed. Try going to Home Page by using the button below.</p>
            <div class="button-area mt-30">
                <a class="btn sosa-btn px-4" href="index.html">Back To Homepage</a>
            </div>
        </div>
    </div>
